Repository mesilov/bitrix24-php-sdk, pull requests merged in 2022-10, with the labels that each got.

#308 237 serializer test
  composer.json
  src/Services/CRM/Common/Result/AbstractCrmItem.php
  src/Services/CRM/Deal/Result/DealProductRowItemResult.php
  src/Services/CRM/Deal/Result/DealProductRowItemsResult.php
  src/Services/CRM/Deal/Service/DealProductRows.php
  tests/Integration/Services/CRM/Deal/Service/DealProductRowsTest.php
  tests/Integration/Services/Telephony/Service/CallTest.php
Labels: 2.x, hacktoberfest-accepted, improve DX

#312 311 add contracts interface
  .github/workflows/vendor-check.yml
  composer.json
  src/Application/Contracts/Bitrix24Account/Bitrix24AccountInterface.php
  src/Application/Contracts/Bitrix24Account/Bitrix24AccountStatus.php
Labels: 2.x, hacktoberfest-accepted, improve DX

#314 add contracts account repository for Bitrix24
  src/Application/Contracts/Bitrix24AccountRepositoryInterface.php
Labels: 2.x, hacktoberfest-accepted, improve DX

#316 add security file in root folder
  SECURITY.md
Labels: 2.x, hacktoberfest-accepted, improve DX

#318 317 add new scope code biconnector
  src/Core/Credentials/Scope.php
Labels: 2.x, hacktoberfest-accepted, 💠 core

#321 fix typehint
  CHANGELOG.md
  src/Services/CRM/Contact/Result/ContactItemResult.php
Labels: bug, 2.x, hacktoberfest-accepted, scope CRM

#323 fix typehint in DealCategoryItemResult
  CHANGELOG.md
  src/Services/CRM/Common/Result/AbstractCrmItem.php
  src/Services/CRM/Deal/Result/DealCategoryItemResult.php
Labels: bug, 2.x, hacktoberfest-accepted, scope CRM

#325 rename batch interface
  CHANGELOG.md
  src/Core/Batch.php
  src/Core/BulkItemsReader/BulkItemsReaderBuilder.php
  src/Core/BulkItemsReader/ReadStrategies/FilterWithBatchWithoutCountOrder.php
  src/Core/Contracts/BatchOperationsInterface.php
  src/Services/AbstractBatchService.php
  src/Services/AbstractServiceBuilder.php
  src/Services/CRM/Deal/Service/Batch.php
  src/Services/CRM/Lead/Service/Batch.php
  tests/Unit/Stubs/NullBatch.php
  tools/PerformanceBenchmarks/ListCommand.php
Labels: 2.x, hacktoberfest-accepted, improvement, improve DX, 💠 core

#327 fix contracts for apps
  CHANGELOG.md
  src/Application/Contracts/Bitrix24Account/Bitrix24AccountRepositoryInterface.php
Labels: 2.x, hacktoberfest-accepted, improvement, improve DX, scope APP, 💰 sponsored

#329 add service builder factory
  CHANGELOG.md
  src/Services/ServiceBuilderFactory.php
Labels: 2.x, hacktoberfest-accepted, improve DX, scope APP
